<div class="card-curso">
    <img *ngIf="imageUrl" [src]="imageUrl" alt="Imagen del curso" class="curso-imagen">
        <span *ngIf="tag" class="curso-tag">{{ tag }}</span>
        <h2 class="curso-titulo">{{ title }}</h2>
        <p class="curso-descripcion">{{ description }}</p>
        <a [href]="link" class="curso-button">Ver curso</a>
    <div class="curso-footer">
    <span class="curso-duration">{{ duration }}</span>
      <div class="curso-rating">
        <div class="stars">
          <span class="star-container">★★★★★</span>
        </div>
        <span class="rating-value">{{ rating }}</span>
      </div>
    </div>
  </div>