<app-header class="nav-bar"></app-header>

<section class="hero">
    <div class="hero-content">
        <h1 class="hero-title">EST SOFTWARE</h1>
        <h3 class="hero-subtitle">Cursos de programación hechos por <br>devs para devs</h3>
        
        <div class="hero-buttons">
            <button class="btn-login" (click)="sendToLogin($event)"><i class="fas fa-sign-in-alt"></i> Iniciar Sesion</button>
            <button class="btn-register"><i class="fas fa-user-plus"></i> Registrarse</button>
        </div>
    </div>
    
    <div class="hero-image">
        <img src="assets/hero.jpg" alt="hero illustration">
    </div>
    
    <div class="wave-container">
        <img src="assets/wave-hero.svg" alt="hero" class="hero-wave">
    </div>
</section>

<app-footer></app-footer>