<header class="nav-bar">
  <img src="assets/Logo-EST.svg" alt="logo" class="logo" (click)="sendToHome($event)">
  <h1 class="title">EST-SOFTWARE</h1>

  <a *ngIf="isAuthenticated" class="cursos-link" (click)="sendToHomeUser($event)">Cursos</a>

  <div *ngIf="isAuthenticated" class="menu-container">
    <button class="hamburger-btn" (click)="toggleMenu()">
      <i class="fas fa-bars"></i>
    </button>
    <div *ngIf="isMenuOpen" class="dropdown-menu">
      <a (click)="goTo('config')"><i class="fas fa-user-cog"></i> Cuenta</a>
      <a (click)="goTo('home')"><i class="fas fa-home"></i> Home</a>
      <a (click)="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
    </div>
  </div>

  <button *ngIf="!isAuthenticated" class="btn-login" (click)="sendToLogin($event)">
    <i class="fas fa-sign-in-alt"></i>
    Login
  </button>
</header>
