.tag-list {
    width: 100%;
    overflow: hidden;
    position: relative;
    font-family: 'Poppins', sans-serif;
    margin: 2rem 0;
  }
  
  .inner {
    display: flex;
    width: fit-content;
    gap: 1rem;
  }
  
  .tag-left .inner {
    animation: move-left 15s linear infinite;
  }
  
  .tag-right .inner {
    animation: move-right 15s linear infinite;
  }
  
  @keyframes move-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  @keyframes move-right {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
  }
  