<div class="tag-list tag-left">
  <div class="inner">
    <app-tech-card
      *ngFor="let tech of tecnologias"
      [iconPath]="tech.iconPath"
      [techName]="tech.techName"
    ></app-tech-card>

    <!-- Duplicamos para efecto cinta -->
    <app-tech-card
      *ngFor="let tech of tecnologias"
      [iconPath]="tech.iconPath"
      [techName]="tech.techName"
    ></app-tech-card>
  </div>
</div>

<div class="tag-list tag-right">
  <div class="inner">
    <app-tech-card
      *ngFor="let tech of tecnologias"
      [iconPath]="tech.iconPath"
      [techName]="tech.techName"
    ></app-tech-card>

    <!-- Duplicamos para efecto cinta -->
    <app-tech-card
      *ngFor="let tech of tecnologias"
      [iconPath]="tech.iconPath"
      [techName]="tech.techName"
    ></app-tech-card>
  </div>
</div>
