<div class="tag-list tag-left">
    <div class="inner">
      <div class="tag">
        <img src="assets/icons/angular.svg" class="icon">
        <p class="tecnologia">Angular</p>
      </div>
      <div class="tag">
        <img src="assets/icons/github.svg" class="icon">
        <p class="tecnologia">Github</p>
      </div>
      <div class="tag">
        <img src="assets/icons/go.svg" class="icon">
        <p class="tecnologia">Go</p>
      </div>
      <div class="tag">
        <img src="assets/icons/linux.svg" class="icon">
        <p class="tecnologia">Linux</p>
      </div>
      <div class="tag">
        <img src="assets/icons/mysql.svg" class="icon">
        <p class="tecnologia">MySQL</p>
      </div>
      <div class="tag">
        <img src="assets/icons/typescript.svg" class="icon">
        <p class="tecnologia">TypeScript</p>
      </div>
      <div class="tag">
        <img src="assets/icons/python.svg" class="icon">
        <p class="tecnologia">Python</p>
    </div>
    <div class="tag">
        <img src="assets/icons/javascript.svg" class="icon">
        <p class="tecnologia">JavaScript</p>
    </div>
    <div class="tag">
        <img src="assets/icons/c.svg" class="icon">
        <p class="tecnologia">c++</p>
    </div>
    <div class="tag">
        <img src="assets/icons/java.svg" class="icon">
        <p class="tecnologia">Java</p>
    </div>
    <div class="tag">
        <img src="assets/icons/arduino.svg" class="icon">
        <p class="tecnologia">Arduino</p>
    </div>
    <div class="tag">
        <img src="assets/icons/figma.svg" class="icon">
        <p class="tecnologia">Figma</p>
    </div>
    <div class="tag">
        <img src="assets/icons/corel.svg" class="icon">
        <p class="tecnologia">Corel Draw</p>
    </div>
    <div class="tag">
        <img src="assets/icons/photoshop.svg" class="icon">
        <p class="tecnologia">Photoshop</p>
    </div>
      <!-- Duplicamos para efecto cinta -->
      <div class="tag">
        <img src="assets/icons/angular.svg" class="icon">
        <p class="tecnologia">Angular</p>
      </div>
      <div class="tag">
        <img src="assets/icons/github.svg" class="icon">
        <p class="tecnologia">Github</p>
      </div>
      <div class="tag">
        <img src="assets/icons/go.svg" class="icon">
        <p class="tecnologia">Go</p>
      </div>
      <div class="tag">
        <img src="assets/icons/linux.svg" class="icon">
        <p class="tecnologia">Linux</p>
      </div>
      <div class="tag">
        <img src="assets/icons/mysql.svg" class="icon">
        <p class="tecnologia">MySQL</p>
      </div>
      <div class="tag">
        <img src="assets/icons/typescript.svg" class="icon">
        <p class="tecnologia">TypeScript</p>
      </div>
      <div class="tag">
        <img src="assets/icons/python.svg" class="icon">
        <p class="tecnologia">Python</p>
      </div>
      <div class="tag">
        <img src="assets/icons/javascript.svg" class="icon">
        <p class="tecnologia">JavaScript</p>
    </div>
    <div class="tag">
        <img src="assets/icons/c.svg" class="icon">
        <p class="tecnologia">c++</p>
    </div>
    <div class="tag">
        <img src="assets/icons/java.svg" class="icon">
        <p class="tecnologia">Java</p>
    </div>
    <div class="tag">
        <img src="assets/icons/arduino.svg" class="icon">
        <p class="tecnologia">Arduino</p>
    </div>
    <div class="tag">
        <img src="assets/icons/figma.svg" class="icon">
        <p class="tecnologia">Figma</p>
    </div>
    <div class="tag">
        <img src="assets/icons/corel.svg" class="icon">
        <p class="tecnologia">Corel Draw</p>
    </div>
    <div class="tag">
        <img src="assets/icons/photoshop.svg" class="icon">
        <p class="tecnologia">Photoshop</p>
    </div>
    </div>
  </div>
  
  <div class="tag-list tag-right">
    <div class="inner">
        <div class="tag">
          <img src="assets/icons/angular.svg" class="icon">
          <p class="tecnologia">Angular</p>
        </div>
        <div class="tag">
          <img src="assets/icons/github.svg" class="icon">
          <p class="tecnologia">Github</p>
        </div>
        <div class="tag">
          <img src="assets/icons/go.svg" class="icon">
          <p class="tecnologia">Go</p>
        </div>
        <div class="tag">
          <img src="assets/icons/linux.svg" class="icon">
          <p class="tecnologia">Linux</p>
        </div>
        <div class="tag">
          <img src="assets/icons/mysql.svg" class="icon">
          <p class="tecnologia">MySQL</p>
        </div>
        <div class="tag">
          <img src="assets/icons/typescript.svg" class="icon">
          <p class="tecnologia">TypeScript</p>
        </div>
        <div class="tag">
            <img src="assets/icons/python.svg" class="icon">
            <p class="tecnologia">Python</p>
        </div>    
        <div class="tag">
            <img src="assets/icons/javascript.svg" class="icon">
            <p class="tecnologia">JavaScript</p>
        </div>
        <div class="tag">
            <img src="assets/icons/c.svg" class="icon">
            <p class="tecnologia">c++</p>
        </div>
        <div class="tag">
            <img src="assets/icons/java.svg" class="icon">
            <p class="tecnologia">Java</p>
        </div>
        <div class="tag">
            <img src="assets/icons/arduino.svg" class="icon">
            <p class="tecnologia">Arduino</p>
        </div>
        <div class="tag">
            <img src="assets/icons/figma.svg" class="icon">
            <p class="tecnologia">Figma</p>
        </div>
        <div class="tag">
            <img src="assets/icons/corel.svg" class="icon">
            <p class="tecnologia">Corel Draw</p>
        </div>
        <div class="tag">
            <img src="assets/icons/photoshop.svg" class="icon">
            <p class="tecnologia">Photoshop</p>
        </div>
        <!-- Duplicamos para efecto cinta -->
        <div class="tag">
          <img src="assets/icons/angular.svg" class="icon">
          <p class="tecnologia">Angular</p>
        </div>
        <div class="tag">
          <img src="assets/icons/github.svg" class="icon">
          <p class="tecnologia">Github</p>
        </div>
        <div class="tag">
          <img src="assets/icons/go.svg" class="icon">
          <p class="tecnologia">Go</p>
        </div>
        <div class="tag">
          <img src="assets/icons/linux.svg" class="icon">
          <p class="tecnologia">Linux</p>
        </div>
        <div class="tag">
          <img src="assets/icons/mysql.svg" class="icon">
          <p class="tecnologia">MySQL</p>
        </div>
        <div class="tag">
          <img src="assets/icons/typescript.svg" class="icon">
          <p class="tecnologia">TypeScript</p>
        </div>
        <div class="tag">
            <img src="assets/icons/python.svg" class="icon">
            <p class="tecnologia">Python</p>
        </div>
        <div class="tag">
            <img src="assets/icons/javascript.svg" class="icon">
            <p class="tecnologia">JavaScript</p>
        </div>
        <div class="tag">
            <img src="assets/icons/c.svg" class="icon">
            <p class="tecnologia">c++</p>
        </div>
        <div class="tag">
            <img src="assets/icons/java.svg" class="icon">
            <p class="tecnologia">Java</p>
        </div>
        <div class="tag">
            <img src="assets/icons/arduino.svg" class="icon">
            <p class="tecnologia">Arduino</p>
        </div>
        <div class="tag">
            <img src="assets/icons/figma.svg" class="icon">
            <p class="tecnologia">Figma</p>
        </div>
        <div class="tag">
            <img src="assets/icons/corel.svg" class="icon">
            <p class="tecnologia">Corel Draw</p>
        </div>
        <div class="tag">
            <img src="assets/icons/photoshop.svg" class="icon">
            <p class="tecnologia">Photoshop</p>
        </div>
      </div>
  </div>
  