.card-developer {
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 20px;
    gap: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 400px;
    margin: auto;
  }
  
  .image-container {
    flex-shrink: 0;
  }
  
  .image-develop {
    width: 120px;
    height: 160px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .info-container {
    flex-grow: 1;
  }
  
  .name {
    font-size: 1.5rem;
    margin: 0;
    color: #003057;
  }
  
  .rol {
    font-size: 0.9rem;
    color: #333;
    margin: 8px 0;
  }
  
  .tech-stack {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .tech-logo {
    width: 20px;
    height: 20px;
  }
  
 .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    width: 280px;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
  }
  
  .button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
  }
  
  .button svg path {
    transition: 400ms;
  }
  
  .button:hover {
    background-color: transparent;
  }
  
  .button:hover .text {
    color: #181717;
  }
  
  .button:hover svg path {
    fill: #181717;
  }

  @media screen and (max-width: 480px) {
    .card-developer {
      width: 300px;
      margin: 0 auto;
    }
    
    .image-develop {
      width: 80px;
      height: 120px;
    }
    
    .name {
      font-size: 0.9rem;
    }
    
    .rol {
      font-size: 0.5rem;
    }

    .tech-logo {
      width: 12px;
      height: 12px;
    }
    
    .button {
      margin-left: auto;
      margin-right: auto;
    }

    .button {
      width: 200px;
      height: 35px;
      gap: 10px;
    }
    
    .button .text {
        font-size: 0.9em;
    }
    
    .button svg {
        width: 20px;
        height: 20px;
    }
  }