<aside class="sidebar-container">
    <div class="profile-info">
        <img src="https://i.pravatar.cc/120" class="sidebar-avatar" />

        <h2 class="sidebar-username">Miguel Ángel</h2>
        <p class="sidebar-handle">miguel.torres</p>
    </div>

    <div class="plan-container">
        <span class="plan-title">Plan:</span>
        <span class="plan-type">Gratuito</span>
    </div>

    <nav class="sidebar-nav">
        <a href="#" class="sidebar-link"><i class="fas fa-user"></i> Perfil</a>
        <a href="#" class="sidebar-link"><i class="fas fa-certificate"></i> Certificados</a>
        <a href="#" class="sidebar-link"><i class="fas fa-cog"></i> Configuración</a>
        <a href="#" class="sidebar-link"><i class="fas fa-home"></i> Home</a>
        <a href="#" class="sidebar-link logout-link"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
    </nav>
</aside>
